#home {
  margin-top: 5em;
}

#home .profile-pic {
  max-width: 500px;
  height: auto;
  box-shadow: var(--boxshadow);
  border-radius: 50%;
  width: 100%;
}

#home article {
  align-self: center;
}

@media screen and (max-width: 600px) {
  #home {
    margin-top: 0;
  }
}
