.tech-grid {
  display: grid;
  max-width: 500px;
  max-height: 500px;
  grid-template-columns: repeat(4, minmax(50px, 1fr));
  justify-content: center;
  border: 1px solid var(--color-bg);
  padding: 0.75em;
  gap: 0.75em;
  background-color: var(--color-bg);
  align-self: center;
}

.tech-grid div {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: var(--boxshadow);
}

.tech-grid #box-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.tech-grid #box-1 img {
  height: 50%;
}

.tech-grid #box-4 {
  grid-column: 4 / 5;
  grid-row: 1 / 3;
}

.tech-grid #box-6 {
  grid-column: 2 / 4;
  grid-row: 2 / 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.25em;
}

.tech-grid #box-6 h1 {
  font-size: clamp(1.25rem, 0.6422rem + 1.5vw, 2rem);
}

.tech-grid #box-7 {
  grid-column: 4 / 5;
  grid-row: 3 / 5;
  display: flex;
  flex-direction: column;
}

.tech-grid #box-8 {
  grid-column: 1 / 3;
  display: flex;
}

.tech-grid #box-9 img {
  width: 90%;
  height: 90%;
  margin-top: 5%;
}
