:root {
  --font-thin: 100;
  --font-light: 300;
  --font-reg: 400;
  --font-bold: 900;
}

h1 {
  font-size: 30px;
  color: var(--color-primary);
  font-weight: var(--font-bold);
}

h2 {
  font-size: 24px;
  color: var(--color-primary);
  font-weight: var(--font-bold);
}

h3 {
  font-size: 20px;
  color: var(--color-primary);
  font-weight: var(--font-bold);
}

p {
  font-size: 18px;
  color: var(--color-secondary);
  font-weight: var(--font-reg);
}

strong {
  color: var(--color-primary);
  --font-bold: 900;
}
