/* CSS file imports */
@import url(./components/footer.css);
@import url(./abstracts/colors.css);
@import url(./abstracts/fonts.css);
@import url(./components/header.css);
@import url(./components/tech-grid.css);
/* CSS Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
iframe {
  display: block;
  width: 100%;
  margin: auto;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background: url('/public/images/background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  height: max-content;
}

/* Main layout Styles */
main,
header,
footer {
  max-width: 1500px;
  margin: auto;
}

.view {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
