/* CSS file imports */
@import url(./components/footer.css);
@import url(./abstracts/colors.css);
@import url(./abstracts/fonts.css);
/* CSS Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
iframe {
  display: block;
  width: 100%;
  margin: auto;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

/* Main layout Styles */
main,
header,
footer {
  max-width: 1500px;
  margin: auto;
}
